@media (min-width: 1024px) and (max-width: 1920px) {
    body {
        width: 100%;
    }
}


/* ---------------------------------------------------------- */
/* -----------------------PAD----------------------------- */
/* ---------------------------------------------------------- */
@media (min-width: 720px) and (max-width: 820px) {
    body {
        display: flex;
        margin-left: 0; 
        margin-right: 0; 
        width: 100%;
    }
    
    /* HEADER -------------*/
    .header {
        display: flex;
        margin-top: 32px;
    }
    .wrapper {
        display: flex;
        justify-content: center;
        width: 90%;
    }
    .main {
        display: flex;
        flex-direction: column;
    }

    .hero-photo-zone {
        display: flex;
        justify-content: center;
    }
    .header-boxing {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0;
    }
    .search_img {
        display: none;
    }
    .menu-burger.active {
        margin: 20px;
        width: 30vh;
    }
    .mnu_padd {
        display: none;
    }
    .btn-burger {
        width: 20px;
    }
    .hero_text_zone {
        display: flex;
        width: 100%;
        height: 100%;
    }
    /* -----TEXT DIRECKTION--------------- */
    .hero_zone_wrap span {
        padding-bottom: 0;
        font-size: 24px;
        font-weight: bold;
    }
    .hero_text_zone h1 {
        padding-bottom: 0;
        font-size: 32px;
    }
    .hero_text_zone span:last-child {
        padding-bottom: 0;
        font-size: 32px;
    }
    .hero_text_zone h2 {
        
        font-size: 18px;
        line-height: 21px;
    }
    .hero_text_zone p {
        line-height: 21px;
        padding-bottom: 56px;
        font-size: 18px;
    }
    /* --------------------------------------- */

    .hero-zone-box {
        width: 100%;
    }
    .hero_zone_wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    /* SOCIAL---------------- */

    .social-text {
        display: none;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: #333333;
        padding-left: 531px;
    }
    
    .hero-social-pic p {
        display: none;
        justify-content: center;
        width: 1520px;
        font-size: 32px;
        margin-left: 85px;
    }
    .hero-social-box {
        width: 100%;
    }
    .pic_gap {
        column-gap: 35px;
    }
    .about_text {
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 43px;
    }

    /* ABOUT--------- */
    .about-main-box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%px;
        margin-top: 140px;
    }
    .about_text {
        font-size: 32px;
    }
    iframe {
        max-width: 100%;
        height: 216px;
    }
    /* What I Do */
    .whatido-main-box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 0;
    }
    .whatido-text h1{
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
    }
    .whatido-text-box {
        width: 100%;
    }

    /* CARD BOX --------------*/
    .whatido-graphic-box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    .whatido-graphic-card {
        display: flex;
        flex-direction: column;
    }

    /* CARD 1 */
    .card_1 {
        width: 100%;
        height: 410px;
        margin-right: 0;
        margin-bottom: 32px;
    }
    .card_1 h1 {
        font-size: 40px;
    }
    .arrow_bold {
        font-size: 40px;
        margin-bottom: 10px;
    }
    .adjust {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150px;
    }

    /* CARD 2 */
    .card_2 {
        width: 100%;
        height: 410px;
        margin-right: 0;
        margin-bottom: 32px;
    }
    .card_2 h1 {
        font-size: 38px;
    }
    .adjust-2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150px;
    }

    /* CARD 3 */
    /* CARD 2 */
    .card_3 {
        width: 100%;
        height: 410px;
        margin-right: 0;
        margin-bottom: 32px;
    }
    .card_3 h1 {
        font-size: 34px;
    }
    .adjust-3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150px;
    }


    /* SLIDER */
    .slider-wrap {
        width: 100%;
        margin-bottom: 120px;
    }
    .slider-wrap-2 {
        width: 100%;
        margin-bottom: 120px;
    }
    

    /* PORTFOLIO CONTENT -------*/
    .portfolio-content h1 {
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        color: #333333;
        width: 100%;
    }

    .portfolio-box-wrap {
        display: flex;
        justify-content: center;
    }
    .portfolio-content {
        width: 100%;
    }

    /* TEXT */
    .curent-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 14px;
        margin-bottom: 60px;
    }

    /* GALERY ----------- */
    .popup {
        width: 90%;
        padding: 25px;
        height: 70%;
    }

    .close {
        position: absolute;
        font-size: 24px;
        padding: 0;
        align-items: normal;
        top: 10px;
        left: 50%;
    }

    .portfolio-gallery-box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position:static;
        width: 100%;
    }
    
    .image-box-1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
        margin-bottom: 32px;
        width: 100%;
    }
    .image-box-2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
        width: 100%;
    }
    .portfolio_image_4 {
        position: static;
    }
    .portfolio_image_6 {
        position: static;
    }

    .resize_image {
        object-fit: cover;
        width: 100%;
        height: 300px;
    }
    

    /* CLIENT TESTEMONIALS---------------------------- */
    .client-testemonial_title h1 {
        display: flex;
        justify-content: center;
        width: 100%;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
    }
    .client-testemonial-main-box {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
    }
    .client-testemonial-content {
        display: flex;
        flex-direction: column;
    }
    .client_photo {
        display: flex;
        justify-content: center;
        margin-right: 0;
        width: 100%;
    }
    .clnt_test_text {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    }
    .quote_left img {
        margin-top: 60px;
        width: 62px;
        height: 64px;
    }
    .quote_right img {
        width: 62px;
        height: 64px;
        margin-bottom: 40px;
    }
    .clnt_test_box {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .slider-wrap-3 {
        display: flex;
        margin-top: 120px;
        justify-content: center;
        margin-bottom: 120px;
    }
    .clnt_test_hero_title {
        margin-top: 40px;
    }

    /* GET IN TOUCH--- */
    .getintouch-main-box {
        width: 100%;
        margin-top: 0;
    }
    .get-bg-hello {
        background-image: none;
        background-color: #333333;
        width: 100%;
    }

    /* PROJECT */
    .proj-bg-project {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-image: none;
    }
    .proj-title-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .getintouch-title span {
        font-size: 32px;
    }
    .getintouch-title h1 {
        font-size: 35px;
    }
    .pic_gap_2 {
        display: flex;
        column-gap: 30px;
    }
    .proj-text-1 h1 {
        font-size: 40px;
        line-height: 47px;
    }
    .proj-text-1 span {
        display: flex;
        width: 320px;
        font-size: 18px;
        line-height: 21px;
        justify-content: center;
        margin-bottom: 40px;
    }

    /* MY BLOG */
    .blog-title h1 {
        font-size: 40px;
    }
    .myblog-main-box {
        margin-top: 70px;
    }
    .myblog-wrapp {
        display: flex;
        justify-content: center;
        gap: 61px;
        flex-direction: column;
    }
    .blog-title {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .blog-title-image {
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .blog-main-card-1 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .blog-title-image-2 {
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .blog-title-image-3 {
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    /* FOOTER */
    .footer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .information-main-box {
        display: flex;
        justify-content: center;
        margin-top: 120px;
        flex-direction: column;
    }
    .information-main-wrappper {
        display: flex;
        justify-content: space-between;
        gap: 80px;
        flex-direction: column;
    }
    .inform-title-box h1 {
        font-size: 40px;
        margin-bottom: 0;
    }
    .inform-text-1 {
        display: flex;
        width: 100%;
        font-style: normal;
        font-size: 18px;
        line-height: 24px;
        margin-top: 60px;
    }
    .inform-contacts {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        line-height: 50px;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
    }
    .inform-bg-box {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #333333;
        padding: 30px 20px;
        color: #FFFFFF;
    }
    .footer-copy-text-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #333333;
        flex-direction: column;
    }

}


/* ---------------------------------------------------------- */
/* -----------------------MOBILE----------------------------- */
/* ---------------------------------------------------------- */
@media (min-width: 320px) and (max-width: 720px) {
    body {
        display: flex;
        margin-left: 0; 
        margin-right: 0; 
        width: 100%;
    }
    
    /* HEADER -------------*/
    .header {
        display: flex;
        margin-top: 32px;
    }
    .wrapper {
        display: flex;
        justify-content: center;
        width: 90%;
    }
    .main {
        display: flex;
        flex-direction: column;
    }

    .hero-photo-zone {
        display: flex;
        justify-content: center;
    }
    .header-boxing {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0;
    }
    .search_img {
        display: none;
    }
    .menu-burger.active {
        margin: 20px;
        width: 30vh;
    }
    .mnu_padd {
        display: none;
    }
    .btn-burger {
        width: 20px;
    }
    .hero_text_zone {
        display: flex;
        width: 100%;
        height: 100%;
    }
    /* -----TEXT DIRECKTION--------------- */
    .hero_zone_wrap span {
        padding-bottom: 0;
        font-size: 24px;
        font-weight: bold;
    }
    .hero_text_zone h1 {
        padding-bottom: 0;
        font-size: 32px;
    }
    .hero_text_zone span:last-child {
        padding-bottom: 0;
        font-size: 32px;
    }
    .hero_text_zone h2 {
        
        font-size: 18px;
        line-height: 21px;
    }
    .hero_text_zone p {
        line-height: 21px;
        padding-bottom: 56px;
        font-size: 18px;
    }
    /* --------------------------------------- */

    .hero-zone-box {
        width: 100%;
    }
    .hero_zone_wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    /* SOCIAL---------------- */

    .social-text {
        display: none;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: #333333;
        padding-left: 531px;
    }
    
    .hero-social-pic p {
        display: none;
        justify-content: center;
        width: 1520px;
        font-size: 32px;
        margin-left: 85px;
    }
    .hero-social-box {
        width: 100%;
    }
    .pic_gap {
        column-gap: 35px;
    }
    .about_text {
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 43px;
    }

    /* ABOUT--------- */
    .about-main-box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%px;
        margin-top: 140px;
    }
    .about_text {
        font-size: 32px;
    }
    iframe {
        max-width: 100%;
        height: 216px;
    }
    

    /* What I Do */
    .whatido-main-box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 0;
    }
    .whatido-text h1{
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
    }
    .whatido-text-box {
        width: 100%;
    }

    /* CARD BOX --------------*/
    .whatido-graphic-box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    .whatido-graphic-card {
        display: flex;
        flex-direction: column;
    }

    /* CARD 1 */
    .card_1 {
        width: 100%;
        height: 410px;
        margin-right: 0;
        margin-bottom: 32px;
    }
    .card_1 h1 {
        font-size: 40px;
    }
    .arrow_bold {
        font-size: 40px;
        margin-bottom: 10px;
    }
    .adjust {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150px;
    }

    /* CARD 2 */
    .card_2 {
        width: 100%;
        height: 410px;
        margin-right: 0;
        margin-bottom: 32px;
    }
    .card_2 h1 {
        font-size: 38px;
    }
    .adjust-2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150px;
    }

    /* CARD 3 */
    /* CARD 2 */
    .card_3 {
        width: 100%;
        height: 410px;
        margin-right: 0;
        margin-bottom: 32px;
    }
    .card_3 h1 {
        font-size: 34px;
    }
    .adjust-3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150px;
    }


    /* SLIDER */
    .slider-wrap {
        width: 100%;
        margin-bottom: 120px;
    }
    .slider-wrap-2 {
        width: 100%;
        margin-bottom: 120px;
    }
    

    /* PORTFOLIO CONTENT -------*/
    .portfolio-content h1 {
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        color: #333333;
        width: 100%;
    }

    .portfolio-box-wrap {
        display: flex;
        justify-content: center;
    }
    .portfolio-content {
        width: 100%;
    }

    /* TEXT */
    .curent-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 14px;
        margin-bottom: 60px;
    }

    /* GALERY ----------- */
    .popup {
        width: 90%;
        padding: 25px;
        height: 70%;
    }

    .close {
        position: absolute;
        font-size: 24px;
        padding: 0;
        align-items: normal;
        top: 10px;
        left: 50%;
    }

    .portfolio-gallery-box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position:static;
        width: 100%;
    }
    
    .image-box-1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
        margin-bottom: 32px;
        width: 100%;
    }
    .image-box-2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
        width: 100%;
    }
    .portfolio_image_4 {
        position: static;
    }
    .portfolio_image_6 {
        position: static;
    }

    .resize_image {
        object-fit: cover;
        width: 100%;
        height: 300px;
    }
    

    /* CLIENT TESTEMONIALS---------------------------- */
    .client-testemonial_title h1 {
        display: flex;
        justify-content: center;
        width: 100%;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
    }
    .client-testemonial-main-box {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
    }
    .client-testemonial-content {
        display: flex;
        flex-direction: column;
    }
    .client_photo {
        display: flex;
        margin-right: 0;
        width: 100%;
    }
    .clnt_test_text {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    }
    .quote_left img {
        margin-top: 60px;
        width: 62px;
        height: 64px;
    }
    .quote_right img {
        width: 62px;
        height: 64px;
        margin-bottom: 40px;
    }
    .clnt_test_box {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .slider-wrap-3 {
        display: flex;
        margin-top: 120px;
        justify-content: center;
        margin-bottom: 120px;
    }
    .clnt_test_hero_title {
        margin-top: 40px;
    }

    /* GET IN TOUCH--- */
    .getintouch-main-box {
        width: 100%;
        margin-top: 0;
    }
    .get-bg-hello {
        background-image: none;
        background-color: #333333;
        width: 100%;
    }

    /* PROJECT */
    .proj-bg-project {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-image: none;
    }
    .proj-title-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .getintouch-title span {
        font-size: 32px;
    }
    .getintouch-title h1 {
        font-size: 35px;
    }
    .pic_gap_2 {
        display: flex;
        column-gap: 30px;
    }
    .proj-text-1 h1 {
        font-size: 40px;
        line-height: 47px;
    }
    .proj-text-1 span {
        display: flex;
        width: 320px;
        font-size: 18px;
        line-height: 21px;
        justify-content: center;
        margin-bottom: 40px;
    }

    /* MY BLOG */
    .blog-title h1 {
        font-size: 40px;
    }
    .myblog-main-box {
        margin-top: 70px;
    }
    .myblog-wrapp {
        display: flex;
        justify-content: center;
        gap: 61px;
        flex-direction: column;
    }
    .blog-title {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .blog-title-image {
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .blog-main-card-1 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .blog-title-image-2 {
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .blog-title-image-3 {
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    /* FOOTER */
    .footer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .information-main-box {
        display: flex;
        justify-content: center;
        margin-top: 120px;
        flex-direction: column;
    }
    .information-main-wrappper {
        display: flex;
        justify-content: space-between;
        gap: 80px;
        flex-direction: column;
    }
    .inform-title-box h1 {
        font-size: 40px;
        margin-bottom: 0;
    }
    .inform-text-1 {
        display: flex;
        width: 100%;
        font-style: normal;
        font-size: 18px;
        line-height: 24px;
        margin-top: 60px;
    }
    .inform-contacts {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        line-height: 50px;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
    }
    .inform-bg-box {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #333333;
        padding: 30px 20px;
        color: #FFFFFF;
    }
    .footer-copy-text-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #333333;
        flex-direction: column;
    }
}    
